<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello</h1>
    <table>
      <tr>
        <th>Tasks here</th>
      </tr>
      {% for task in object_list %}
      <tr>
        <td>{{task.title}}</td>
      </tr>
      {% empty %}
      <h3>No tasks</h3>
      {% endfor %}
    </table>
  </body>
</html>
